html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222
}
header{
  background-color: #000;
}
.menu{
width: 900px;
margin-left: auto;
margin-right: auto;
}
.menu h1{
  padding: 15px;
  margin: 0;
  color: gold;
  display: flex;
  justify-content: center;
}
.first-video{
  background-image: url(../img/KFP3-promo-po4.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
  background-position: -110px center;
}
.second-video{
  background-image: url(../img/kung-fu-panda-small.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
  background-position: right -160px center;;
}
video{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background: #000;
  padding: 15px;
  outline: none;
}
iframe{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background: #000;
  padding: 15px;
  outline: none;
}
footer{
  background-color: #000;
  color: gold;
}
footer div{
  padding: 25px;
display: flex;
justify-content: center;
}
